/*input[type=file] {*/
/*    display: none;*/
/*}*/

.inputfile{
    border-radius: 5px;
    font-size: 1.25em;
    color: white;
    background-color: #374349;
}

.md-avatar.size-3 {
    width: 90px;
    height: 90px;
}
.md-avatar.size-4 {
    width: 110px;
    height: 110px;
}

.md-avatar.size-5 {
    width: 200px;
    height: 200px;
}